*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    background-color: #242423;

    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 8vh;
    
    background-color: #1e1e1f3f; 
    box-shadow: 0px 5px 5px 1px #000000e3;
    
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 45px;
}

.nav {
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav button {
    margin: 5px;

    align-items: center;
}

#background {
    height: 100%;
    width: 100%;
}

#section-1 {
    height: 100vh;
    width: 100vw;
}

.container-h1 { 
    min-width: 35vw;
    min-height: 25vh;
    border-radius: 20px;
    
    color: #fff;
    background-color: #1e1e1f3f; 
    box-shadow: 0px 5px 8px 3px #000000e3;

    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container-h1 h1 {
    width: 100%;
    font-size: 55px;

    color: #9c67da;
}

.container-h1 h2 {
    font-size: 20px;
}


#section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-cards {
    color: #fff;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-premium {
    height: 350px;
    width: 400px;
    border-radius: 5%;
    
    background-color: #1e1e1f; 
    box-shadow: 0px 5px 5px 1px #9c67da;
}

.card-premium p {
    margin-top: 20px;

    color: violet;
}

.card-premium h3 {
    margin-bottom: 20px;
}

.card-premium li {
    width: 85%;
    left: 35px;
    margin-bottom: 20px;

    position: relative;
    text-align: left;
}

.card-premium strong{
    color: blueviolet;
}


/* RESPONSIVO */

@media screen and (max-width: 900px) {
    .container-cards {
        flex-direction: column;  
    }

    .card-premium {
        margin-top: 100px;
        width: 500px;
    }

    .card-premium li {
        left: 35px;
        margin-bottom: 20px;

        position: relative;
        text-align: left;
    }
}

#section-3 {
    color: #fff;
    
    flex-direction: column;
    text-align: center;
}

#section-3 h2 {
    font-size: 40px;
}

.scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    animation: scroll 50s linear infinite;
}

.scroll div {
    height: 150px;
    width: 200px;
}

.scroll img {
    height: 150px;
    width: 200px;
}

@media screen and (max-width: 540px) {
    .card-premium{
        width: 300px;
    }
}

@keyframes scroll {
    from {
      left: 0px;
    }

    90% {
      left: -562px;
    }

    100%{left: 0px;}
}